.cart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-inline: 1rem;
}

.cart > h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 3%;
	margin-left: 10px;
}
