.cart {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-size: 2rem;
	width: 66px;
}

.cart > h3 {
	font-weight: bold;
	margin-right: 3%;
}

.shooping-cart-icon {
	color: #007bff;
}
