.navmenu_ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.navmenu_ul > li {
	margin-inline: 5px;
	font-size: 1.5rem;
}

.navmenu_ul > li:hover {
	padding: 5px;
	font-size: 1.75rem;
}
