.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 800px;
}

header {
	margin: 10px 0px;
}

body {
	background-color: rgba(247, 247, 247, 0.742);
	color: rgb(45, 45, 45);
}

main {
	width: 100%;
	height: 100%;
	display: flex;
}

.app-main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
